@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Estedad Regular';
        src: url("../public/fonts/estedad/estedad-400.woff2") format('woff2');
    }
    @font-face {
        font-family: 'Estedad Medium';
        src: url("../public/fonts/estedad/estedad-500.woff2") format('woff2');
    }
    @font-face {
        font-family: 'Estedad Bold';
        src: url("../public/fonts/estedad/estedad-700.woff2") format('woff2');
    }
    @font-face {
        font-family: 'IranYekan Regular';
        src: url("../public/fonts/iran-yekan/iran-yekan-400.woff2") format('woff2');
    }
    @font-face {
        font-family: 'IranYekan Medium';
        src: url("../public/fonts/iran-yekan/iran-yekan-500.woff2") format('woff2');
    }
    @font-face {
        font-family: 'IranYekan Bold';
        src: url("../public/fonts/iran-yekan/iran-yekan-700.woff2") format('woff2');
    }
    :root {
        --color-blue: 90 141 238;
        --color-indigo: 102 16 242;
        --color-purple: 111 66 193;
        --color-pink: 232 62 140;
        --color-red: 255 91 92;
        --color-orange: 253 126 20;
        --color-yellow: 253 172 65;
        --color-green: 57 218 138;
        --color-teal: 32 201 151;
        --color-cyan: 0 207 221;
        --color-black: 38 60 85;
        --color-white: 255 255 255;
        --color-gray-dark: 38, 60, 85, 80%;
        --color-gray-25: 38, 60, 85, 2.5%;
        --color-gray-50: 38, 60, 85, 6%;
        --color-gray-light: 242 243 245;
        --color-primary: 90 141 238;
        --color-secondary: 105 128 154;
        --color-success: 57 218 138;
        --color-light: 229 233 237;
        --color-dark: 73 85 99;
        --color-gray: 38, 60, 85, 50%;
        --color-muted: 168 177 187;
        --color-caption: 103 119 136;
        --color-title: 81 99 119;
        --color-zinc: 212 216 221;
    }

    body {
        direction: rtl;
        color: rgb(var(--color-caption));
    }


    .sidebar-logo {
        /*background: linear-gradient(#182535 41%, rgba(24, 37, 53, 0.11) 95%, rgba(24, 37, 53, 0));*/
    }

    .sidebar-menu-text {
        @apply overflow-hidden transition-all duration-300 whitespace-nowrap text-ellipsis
    }

    #widgets-wrapper::-webkit-scrollbar {
        width: 4px;
    }

    #widgets-wrapper::-webkit-scrollbar-track {
        background: transparent;
    }

    #widgets-wrapper::-webkit-scrollbar-thumb {
        background: rgb(var(--color-zinc));
        border-radius: 5px;
    }

    .tooltip-wrapper {
        background-color: rgb(var(--color-white));
        border: 1px solid red;
    }

    .column-css-style {
        @apply !flex-grow font-IranYekan-Medium text-2sm text-title !text-right !flex !items-center !pr-4 !py-2.5 !h-auto !pl-0
    }

    .column-header-css-style {
        @apply !h-auto !pr-4 !pl-0 !py-2.5 !flex-grow font-IranYekan-Bold text-xs text-title
    }

    .mobile-action-column-css {
        @apply !overflow-visible !flex-grow !flex !items-center !justify-center !py-2.5 !h-auto
    }

    .column-header-user-css,
    .column-user-css {
        @apply !basis-auto
    }

    .action-column-header-css,
    .column-header-project-css,
    .column-project-css,
    .action-column-css,
    .column-header-status-css,
    .column-status-css,
    .column-header-invoice-css,
    .column-invoice-css,
    .column-header-role-css,
    .column-role-css,
    .column-header-debt-css,
    .column-debt-css,
    .column-header-issueDate-css,
    .column-issueDate-css,
    .column-header-total-css,
    .column-total-css,
    .column-header-id-css,
    .column-id-css,
    .column-header-progress-css,
    .column-progress-css{
        @apply !hidden
    }

    .mobile-action-header-column-css,
    .mobile-action-column-css {
        @apply !flex
    }

    .css-1808mag-MuiPaper-root-MuiAccordion-root::before {
        display: none !important;
    }

    .column-header-leader-css,
    .column-leader-css {
        max-width: 100px !important;
    }

    .column-header-teams-css,
    .column-teams-css {
        max-width: 100px !important;
    }

    .column-header-action-css .MuiDataGrid-columnHeaderTitleContainer {
        justify-content: center !important;
    }

    .css-12i3c74-MuiDataGrid-root,
    .css-11dqcl8-MuiDataGrid-virtualScrollerRenderZone {
        min-width: 700px;
    }

    .css-3wrmvi-MuiDataGrid-root .css-11cfq65-MuiTablePagination-displayedRows {
        font-family: IranYekan Bold;
        fontsize: 15px;
        color: rgb(var(--color-muted));
    }

    @media screen and (min-width: 1000px) {
        .action-column-header-css,
        .action-column-css {
            @apply !flex
        }

        .mobile-action-header-column-css,
        .mobile-action-column-css {
            @apply !hidden
        }
    }

    @media screen and (min-width: 810px) {
        .column-header-status-css,
        .column-status-css,
        .column-header-progress-css,
        .column-progress-css {
            @apply !flex
        }
    }

    @media screen and (min-width: 670px) {
        .column-header-invoice-css,
        .column-invoice-css,
        .column-header-project-css,
        .column-project-css,
        .column-header-issueDate-css,
        .column-issueDate-css {
            @apply !flex
        }
    }

    @media screen and (min-width: 768px) {
        .css-1gak8h1-MuiToolbar-root-MuiTablePagination-toolbar {
            flex-direction: row;
        }

        .column-header-user-css,
        .column-user-css {
            @apply !basis-3/12
        }

        .column-header-debt-css,
        .column-debt-css {
            @apply !flex
        }

        .css-11cfq65-MuiTablePagination-displayedRows {
            display: flex !important;
        }
    }

    @media screen and (min-width: 550px) {
        .column-header-total-css,
        .column-total-css {
            display: flex !important;
        }
    }

    @media screen and (min-width: 500px) {
        .column-header-role-css,
        .column-role-css {
            display: flex !important;
        }
    }

    @media screen and (min-width: 450px) {
        .column-header-status-css,
        .column-status-css,
        .column-header-id-css,
        .column-id-css {
            display: flex !important;
        }
    }
}