@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Estedad Regular';
        src: url("../public/fonts/estedad/estedad-400.woff2") format('woff2');
    }
    @font-face {
        font-family: 'Estedad Medium';
        src: url("../public/fonts/estedad/estedad-500.woff2") format('woff2');
    }
    @font-face {
        font-family: 'Estedad Bold';
        src: url("../public/fonts/estedad/estedad-700.woff2") format('woff2');
    }
    @font-face {
        font-family: 'IranYekan Regular';
        src: url("../public/fonts/iran-yekan/iran-yekan-400.woff2") format('woff2');
    }
    @font-face {
        font-family: 'IranYekan Medium';
        src: url("../public/fonts/iran-yekan/iran-yekan-500.woff2") format('woff2');
    }
    @font-face {
        font-family: 'IranYekan Bold';
        src: url("../public/fonts/iran-yekan/iran-yekan-700.woff2") format('woff2');
    }
    :root {
        --color-blue: 90 141 238;
        --color-indigo: 102 16 242;
        --color-purple: 111 66 193;
        --color-pink: 232 62 140;
        --color-red: 255 91 92;
        --color-orange: 253 126 20;
        --color-yellow: 253 172 65;
        --color-green: 57 218 138;
        --color-teal: 32 201 151;
        --color-cyan: 0 207 221;
        --color-black: 38 60 85;
        --color-white: 255 255 255;
        --color-gray-dark: 38, 60, 85, 80%;
        --color-gray-25: 38, 60, 85, 2.5%;
        --color-gray-50: 38, 60, 85, 6%;
        --color-gray-light: 242 243 245;
        --color-primary: 90 141 238;
        --color-secondary: 105 128 154;
        --color-success: 57 218 138;
        --color-light: 229 233 237;
        --color-dark: 73 85 99;
        --color-gray: 38, 60, 85, 50%;
        --color-muted: 168 177 187;
        --color-caption: 103 119 136;
        --color-title: 81 99 119;
        --color-zinc: 212 216 221;
    }

    body {
        direction: rtl;
        color: rgb(var(--color-caption));
    }


    .sidebar-logo {
        /*background: linear-gradient(#182535 41%, rgba(24, 37, 53, 0.11) 95%, rgba(24, 37, 53, 0));*/
    }

    .sidebar-menu-text {
        @apply overflow-hidden transition-all duration-300 whitespace-nowrap text-ellipsis
    }

    #widgets-wrapper::-webkit-scrollbar {
        width: 4px;
    }

    #widgets-wrapper::-webkit-scrollbar-track {
        background: transparent;
    }

    #widgets-wrapper::-webkit-scrollbar-thumb {
        background: rgb(var(--color-zinc));
        border-radius: 5px;
    }
}